<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add wishlist</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:href="@{/css/wishlistPages.css}" rel="stylesheet">


</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <div class="form-container">
        <h2>Add Wishlist</h2>

        <form th:action="@{/saveWishlist}" th:object="${wishlist}" method="post">
            <label>Name:</label>
            <input type="text" th:field="*{wishlistName}" required />

            <div class="button-row">
                <button type="submit" class="btn-primary">Save</button>
                <a href="/wishlists" class="btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
