<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add wishlist</title>
</head>
<body>
<h1>Add wishlist</h1>

<form th:action="@{/saveWishlist}" th:object="${wishlist}" method="post">

    <label>Name:</label>
    <label>
        <input type="text" th:field="*{wishlistName}" required>
    </label>

    <br><br>

    <button type="submit">Save</button>
    <button type="button" onclick="window.location.href='/userFrontpage'">Cancel</button>
</form>
</body>
</html>