<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add wish</title>
</head>
<body>
<h1>Add wish</h1>

<form th:action="@{/saveWish}" th:object="${wish}" method="post">

    <label>wishlist</label>
    <label>
        <select th:field="*{wishlistID}" required>
            <option value="">--Please select--</option>
            <option th:each="wishlist : ${wishlists}"
                    th:value="${wishlist.wishlistID}"
                    th:text="${wishlist.wishlistName}"></option>
        </select>
    </label>

    <label>Name:</label>
    <label>
        <input type="text" th:field="*{wishName}" required>
    </label>

    <br><br>

    <label>Description:</label>
    <label>
        <input type="text" th:field="*{description}">
    </label>

    <br><br>

    <label>Link:</label>
    <label>
        <input type="text" th:field="*{link}">
    </label>

    <br><br>

    <label>Price:</label>

        <label>
            <input type="text" th:field="*{price}">
        </label>

    <br><br>

    <button type="submit">Save</button>
    <button type="button" onclick="window.location.href='/bruger-forside'">Cancel</button>
</form>
</body>
</html>