<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Wish</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:href="@{/css/wishlistPages.css}" rel="stylesheet">


</head>
<body>

<div th:replace="fragments/header :: header"></div>


<main>
    <div class="form-container">
        <h2>Add Wish</h2>

        <form th:action="@{/saveWish}" th:object="${wish}" method="post">
            <input type="hidden" th:field="*{wishlistID}" />

            <label>Name:</label>
            <input type="text" th:field="*{wishName}" required />

            <label>Description:</label>
            <input type="text" th:field="*{description}" />

            <label>Link:</label>
            <input type="text" th:field="*{link}" />

            <label>Price:</label>
            <input type="text" th:field="*{price}" />

            <div class="button-row">
                <button type="submit" class="btn-primary">Save</button>
                <a th:href="@{/wishlist/{id}(id=${wish.wishlistID})}" class="btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
