<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:href="@{/css/wishlistPages.css}" rel="stylesheet">

</head>
<body>


<main>
    <div class="form-container">
        <h2>Create Account</h2>

        <form th:action="@{/save}" th:object="${user}" method="post">
            <label>Username:</label>
            <input type="text" th:field="*{userName}" required />

            <label>Password:</label>
            <input type="password" th:field="*{password}" required />

            <div class="button-row">
                <button type="submit" class="btn-primary">Create account</button>
                <a href="/" class="btn-primary">Cancel</a>
            </div>
        </form>

        <p style="text-align:center; margin-top:10px;">
            <a href="/" style="color:#218277; text-decoration:none;">Already have an account? Log in</a>
        </p>
    </div>
</main>
</body>
</html>
