<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your wishlists</title>
    <link th:href="@{/css/userFrontpage.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="'Welcome, ' + ${username} + '!'"></h1>

    <!-- tjekker om der er nogen ønskelister, og itererer så gemmen dem, hvis de er der -->
<h2>Your Wishlists:</h2>
<!--
    <div th:if="${!wishlists.isEmpty()}">
        <ul>
            <li th:each="wishlist : ${wishlists}">
                <a th:href="@{'/wishlist/' + ${wishlist.wishlistID}}"
                   th:text="${wishlist.wishlistName}"
                ></a>
                <form th:action="@{/deleteWishlist/{wishlistID}(wishlistID=${wishlist.wishlistID})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>


        </ul>
    </div>
    -->

<table>
    <tr th:if="${!wishlists.isEmpty()}">
        <th></th>
        <th></th>
    </tr>

    <tr th:each="wishlist: ${wishlists}">
        <td><a th:href="@{/wishlist/{wishlistID}(wishlistID=${wishlist.wishlistID})}" th:text="${wishlist.wishlistName}"></a></td>
        <td>
            <form th:action="@{/deleteWishlist/{wishlistID}(wishlistID=${wishlist.wishlistID})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
        <a th:href="@{/shareWishlist/{wishlistID}(wishlistID=${wishlist.wishlistID})}">
            <button type="submit">Share</button>
        </a>
        </td>
    </tr>
</table>


    <!-- Hvis der ikke er nogen ønskelister, så får man besked om dette -->
    <div th:if="${wishlists.isEmpty()}">
        <p>There are no wishlists.</p>
    </div>

<div>
    <a href="/addWishlist">Add wishlist</a>
</div>

<div>
    <a href="/addWishFromUserFrontpage">Add wish</a>
</div>

<h2>Wishlists shared with you:</h2>
<table>
    <tr th:if="${sharedWishlists != null and !sharedWishlists.isEmpty()}">
        <th>Wishlist</th> <!-- navnet på ønskelisten -->
        <th>User</th> <!-- navnet på ejeren af ønskelisten -->
    </tr>

    <tr th:each="wishlist: ${sharedWishlists}">
        <td><a th:href="@{/wishlist/{wishlistID}(wishlistID=${wishlist.wishlistID})}" th:text="${wishlist.wishlistName}"></a></td>
</table>

<div th:if="${sharedWishlists == null or sharedWishlists.isEmpty()}">
    <p>No wishlists have been shared with you.</p>
</div>

<!-- tilføj log out knap -->

</body>
</html>