<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>

<table>
    <tr th:if="${wishes.isEmpty()}">Wishlist is empty</tr>
    <tr th:if="${!wishes.isEmpty()}">
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr th:each="wish: ${wishes}">
        <td><a th:href="@{/wish/{wishID}(wishID=${wish.wishID})}" th:text="${wish.wishName}"></a></td>
        <td th:text="${wish.price}"></td>
        <td>
            <form th:action="@{/deleteWish/{wishID}(wishID=${wish.wishID})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<div>
    <a th:href="@{/addWishFromWishlist/{id}(id=${wishlistID})}">
        <button>Add wish</button>
    </a>
</div>

<div>
    <a th:href="@{/wishlists}">
        <button>Back to frontpage</button>
    </a>
</div>

<!--
<div th:if="${!wishes.isEmpty()}">
    <ul>
        <li th:each="wish: ${wishes}">
            <a th:href="@{/wish/{wishID}(wishID=${wish.wishID})}" th:text="${wish.wishName}"></a>
            <p th:text="${wish.price}"> </p>
        </li>
    </ul>
</div>
<div th:if="${wishes.isEmpty()}">Wishlist is empty</div>
-->
</body>
</html>