<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${wish.wishName}"></title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:href="@{/css/wishlistPages.css}" rel="stylesheet">


</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <div th:if="${!isOwner}" class="shared-info">
        <p th:text="'You’re viewing a wish from ' + ${ownerName} + '’s shared wishlist.'"></p>
    </div>

    <section class="wish-detail">
        <h2 th:text="${wish.wishName}"></h2>

        <p><strong>Description:</strong></p>
        <p th:text="${wish.description}"></p>

        <p><strong>Price:</strong></p>
        <p th:text="${wish.price} + ' DKK'"></p>

        <p><strong>Link:</strong></p>
        <a th:href="${wish.link}" target="_blank" class="btn-primary">Visit Website</a>

        <div class="button-row">
            <!-- Kun ejeren må se Edit og Delete -->
            <a th:if="${isOwner}"
               th:href="@{/edit/{wishID}(wishID=${wish.wishID})}"
               class="btn-primary">Edit wish</a>

            <form th:if="${isOwner}"
                  th:action="@{/deleteWish/{wishID}(wishID=${wish.wishID})}"
                  method="post"
                  class="inline-form">
                <button type="submit" class="btn-primary">Delete wish</button>
            </form>
        </div>

    </section>
</main>
</body>
</html>
